
@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);
@import url(https://fonts.googleapis.com/css?family=Righteous);
@import url(https://fonts.googleapis.com/css?family=Candal);

@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

@import url(https://fonts.googleapis.com/css?family=Monoton);




.street-machine {
  position: absolute;
}

.street {
  position: right;
  font-family: 'Mr Dafoe', cursive;
  font-size: 180px;
  font-style: italic;
  -webkit-text-stroke: 0.1px #ed2121;
  color: #fff;
  text-shadow: -10px 10px 0px #ed2121;
  margin: 0;
}

.windows .street {
  -webkit-text-stroke: 4px #ed2121;
}

.street:before {
  content: '';
  position: absolute;
  height: 4px;
  width: 665px;
  top: 83px;
  left: 48px;
  background: #ed2121;
  box-shadow: -8px 13px #ed2121;
}

.windows .street:before {
  left: 55px;
  width: 659px;
}

.street:after {
  content: '';
  position: absolute;
  height: 4px;
  width: 639px;
  top: 109px;
  left: 36px;
  background: #ed2121;
  box-shadow: -4px 13px #ed2121;
}

.machine {
  position: absolute;
  left: 50px;
  top: 350px;
  font-family: 'Mr Dafoe', cursive;
  font-size: 130px;
  transform:rotate(-15deg);
  -ms-transform:rotate(-15deg); /* IE 9 */
  -webkit-transform:rotate(-15deg); /* Safari and Chrome */
  color: #ed2121;
  margin: 0;
  margin-top: -160px;
  padding-left: 430px;
  text-shadow: 1px 2px 0px #F9D2D2;
}

.windows .machine {
  margin-top: -200px;
}


////////








.snow-container
  position: absolute
  height: 500px
  width: 100%
  max-width: 100%
  top: 0
  overflow: hidden
  z-index: 2
  pointer-events: none


.snow
  $foreground-speed: 15s
  $middleground-speed: 20s
  $background-speed: 30s
  display: block
  position: absolute
  z-index: 2
  top: 0
  right: 0
  bottom: 0
  left: 0
  pointer-events: none
  transform: translate3d (0,-100%,0)
  animation: snow linear infinite
  &.foreground
    background-image: url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png')
    animation-duration: $foreground-speed
    &.layered
      animation-delay: $foreground-speed/2
  &.middleground
    background-image: image-url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png')
    animation-duration: $middleground-speed
    &.layered
      animation-delay: $middleground-speed/2
  &.background
    background-image: image-url('https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png')
    animation-duration: $background-speed
    &.layered
      animation-delay: $background-speed/2

@keyframes snow
  0%
    transform: translate3d(0,-100%,0)
  100%
    transform: translate3d(15%,100%,0)



#scene{
  position: fixed;
  width: auto;
  height: 100%;
  bottom:0px;
}
canvas{
  opacity:0;
  position:fixed;
}






.christmas_lights_wrapper
{
  position: fixed;
  top:0;
  left:50%;
  transform: translateX(-50%);
}

.line
{
  position: relative;
  width: 130vw;
  height: 35vw;
  border-bottom: 2px solid black;
  border-radius: 50%;
  top: 0;
  left: 50%;
  transform: translate(-50%,-80%);
  margin-bottom: -32.5vw;
}

.bulb_wrapper
{
  white-space: nowrap;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: center;
}

.bulb::before
{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 7px solid #586266;
  border-radius: 25%;
}

.bulb
{
  position: relative;
  display: inline-block;
  width: 2vw;
  height: 2vw;
  margin: 1vw;
  background: #394347;
  border-radius: 25%;
  transform-origin: center top;
  box-sizing: border-box;
}

.bulb.swing
{
  animation: swing 0.5s ease-in-out infinite;
}

.bulb .glow
{
  display: block;
  position: relative;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #fff389;
  left: 50%;
  transform: translate(-50%,-35%);
  top: 100%;
  transition: background 0.2s ease-in-out, filter 0.2s ease-in-out;
}

.bulb .glas::before
{
  content: '';
  position: absolute;
  width: 90%;
  height: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 9px solid rgba(0,0,0,0.2);
  border-width: 0 0 7px 7px;
  border-radius: 50%;
}

.bulb .glas
{
  display: block;
  position: relative;
  width: 3vw;
  height: 3vw;
  margin-top: -3vw;
  border-radius: 50%;
  background: #fff389;
  left: 50%;
  transform: translate(-50%,-35%);
  top: 100%;
  transition: background 0.2s ease-in-out;
}

@keyframes swing
{
  0% {transform: rotate(0deg);}
  25% {transform: rotate(-30deg);}
  75% {transform: rotate(30deg);}
  100% {transform: rotate(0deg);}
}
